.center-div {
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
}

#root div .toastContainer {
    z-index: 100;
}

 .toastContainer .error .icon {
    display: none;
} 

@media (max-width: 475px) {
    .toastContainer .toast {
        min-width: 200px;
        max-width: 300px;
    }

    #root div .bottom-right {
        bottom: 10px;
        right: 10px;
    }
  }

  @media (max-width: 350px) {
    #root div .bottom-right {
        bottom: 10px;
        right: 10px;
        left: 10px;
    }
  }