body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body iframe {
  display: none;
}
.numericInput input{
  -moz-appearance:textfield;
}
@font-face {
  font-family: 'Schnyder';
  src: local('Schnyder'), url(./assets/fonts/Schnyder.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Jotia';
  src: local('Jotia'), url(./assets/fonts/Jotia.ttf) format('truetype');
  font-display: swap;
}

